<div class="container">

    <div class="row">
        <div class="row">
            <!-- <img class="biodentis" src="../../../assets/img/logo_biodentis.PNG"> -->
            <h2 style="margin-left: 30%;margin-top: 5%; font-weight: bold; font-size:36pt;">CENTRO ODONTOLÓGICO &nbsp;
            </h2>
            <img style=" width:35%;  margin-top: 2%; margin-right: 30%; margin-bottom: 4%;                                                                                     ;
            margin-left:40%;" src="../../../assets/img/biodentis_preview_rev_1.png" />

        </div>



        <div class="row tipo">
            <div class="wrapper ">
                <input type="radio" name="select" id="option-1" checked>
                <input type="radio" name="select" id="option-2">
                <label for="option-1" class="option option-1">
                    <div class="dot"></div>
                    <span>N° CEDULA</span>
                </label>
                <label for="option-2" class="option option-2">
                    <div class="dot"></div>
                    <span>PACIENTE</span>
                </label>
            </div>
        </div>

        <div class="buscar">



            <div class="flexsearch">
                <div class="flexsearch--wrapper">
                    <form class="flexsearch--form" action="#" method="post">
                        <div class="flexsearch--input-wrapper">
                            <input class="flexsearch--input" type="search" placeholder="Buscar">
                        </div>
                        <input class="flexsearch--submit" type="submit" value="&#10140;" />
                    </form>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row">
              <div class="col-12">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Article Name</th>
                      <th scope="col">Author</th>
                      <th scope="col">Shares</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Bootstrap 4 CDN and Starter Template</td>
                      <td>Cristina</td>
                      <td>2.846</td>
                      <td>
                        <button type="button" class="btn btn-primary"><i class="fas fa-eye"></i>Odontogramas Anteriores</button>
                        <button type="button" class="btn btn-success"><i class="fas fa-edit"></i>Editar Historia Clinica</button>
                      <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Nuevo Odontograma</button>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Bootstrap Grid 4 Tutorial and Examples</td>
                      <td>Cristina</td>
                      <td>3.417</td>
                      <td>
                        <button type="button" class="btn btn-primary"><i class="fas fa-eye"></i>Odontogramas Anteriores</button>
                        <button type="button" class="btn btn-success"><i class="fas fa-edit"></i>Editar Historia Clinica</button>
                      <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Nuevo Odontograma</button>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Bootstrap Flexbox Tutorial and Examples</td>
                      <td>Cristina</td>
                      <td>1.234</td>
                      <td>
                        <button type="button" class="btn btn-primary"><i class="fal fa-eye"></i>Odontogramas Anteriores</button>
                        <button type="button" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i>Editar Historia Clinica</button>
                      <button type="button" class="btn btn-danger" routerLink="/odontograma"><i class="fal fa-trash-alt"></i>Nuevo Odontograma</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

    </div>
</div>