<div class="container">
    <nav class="menu">
        <ul>
            <br>
            <p> BIODENTIS </p>
            <img src="https://media.istockphoto.com/vectors/icon-of-tooth-dentist-symbol-logo-of-teeth-graphic-shape-for-dental-vector-id1294412708?b=1&k=20&m=1294412708&s=170667a&w=0&h=TFiONzIWRC2PFFcrZOw8jNkbQ6Q85zVxjBWDoZyJlZs=" id="icon" alt="User Icon" />
            
            <br>
            <hr>
           
            <input type="radio" name="menu" id="archive" checked>
            
            <input type="radio" name="menu" id="edit">
            <li>
                <label for="edit" class="title"><i class="fa fa-user-circle fa-lg"></i>Pacientes</label>
                <a routerLink="/historia"><i class="fa fa-plus-circle fa-lg"></i>Nuevo Paciente</a>
                <a href="#"><i class="fa fa-book fa-lg"></i>Historias Clinicas</a>
                <a href="#"><i class="fas fa-align-left"></i>Recetas</a>
                <a href="#"><i class="fas fa-print"></i>Certificado</a>
            </li>
            <input type="radio" name="menu" id="tools">
            <li>
                <label for="tools" class="title"><i class="far fa-calendar-times"></i>Citas</label>
               
            </li>
          
        </ul>
    </nav>
    <main class="main">
        <h1>CENTRO ODONTOLÓGICO</h1>
        <br>
        <div>
        <img class="biodentis" src="../../../assets/img/biodentis_preview_rev_1.png"  />
        <br>
        <br>
        <h2>Nos Facina Verte Sonreir</h2>
    </div>

    
      
    </main>
</div>