<div class='signup-container'>

    <div class='right-container'>
        <header>
            <h1>Yay, puppies! Ensure your pup gets the best care!</h1>

            <div class='set'>
                <div class='pets-breed'>
                    <label for='pets-breed'>Nombre</label>
                    <input id='pets-breed' placeholder="Nombre" type='text'>
                </div>
                <div class='pets-birthday'>
                    <label for='pets-birthday'>Apellido</label>
                    <input id='pets-birthday' placeholder='Apellido' type='text'>
                </div>
            </div>

            <div class="row">
                <div>
                    <div class='pets-gender'>
                        <label for='pet-gender-female'>Sucursal</label>
                        <div class='radio-container form-group'>
                            <input checked='' id='pet-gender-female' name='pet-gender' type='radio' value='female'>
                            <label for='pet-gender-female' style="width: 50%;">San Carlos</label>
                            
                            <input id='pet-gender-male' name='pet-gender' type='radio' value='male'>
                            <label for='pet-gender-male'style="width: 50%;">Av.General Enriquez</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class='pets-weight'>
                <label for='pet-weight-0-25'>Weight</label>
                <div class='radio-container'>
                    <input checked='' id='pet-weight-0-25' name='pet-weight' type='radio' value='0-25'>
                    <label for='pet-weight-0-25'>0-25 lbs</label>
                    <input id='pet-weight-25-50' name='pet-weight' type='radio' value='25-50'>
                    <label for='pet-weight-25-50'>25-50 lbs</label>
                    <input id='pet-weight-50-100' name='pet-weight' type='radio' value='50-100'>
                    <label for='pet-weight-50-100'>50-100 lbs</label>
                    <input id='pet-weight-100-plus' name='pet-weight' type='radio' value='100+'>
                    <label for='pet-weight-100-plus'>100+ lbs</label>
                </div>
            </div>
        </header>
        <footer>
            <div class='set'>
                <button id='back'>Back</button>
                <button id='next'>Next</button>
            </div>
        </footer>
    </div>
</div>